# Папки з залежностями
node_modules/
client/node_modules/
server/node_modules/

# Файли збірки
client/build/

# Файли зі змінними середовища (секретні дані)
.env
server/.env

# Логи та системні файли
npm-debug.log
.DS_Store